myvenv
__pycache__
.idea
.env
.deta
localhost+1.pem
localhost+1-key.pem
localhost.crt
localhost.key
app
test.json
transactions.json
.vscode
old_requirements.txt
routers
core
controllers
api
db
utils/GoogleSpreadsheetsAPI/token.json
